* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 224, 224) 2f2;
  margin: 0;
  transition: background 0.2s linear;
}

.colorMode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
  margin: 2rem 2rem 0rem 0rem;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

body {
  font-family: 'Comic Neue', cursive;
  p {
    text-transform: lowercase;
  }
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
#logo {
  text-decoration: none;
  color: gray;
}
header h2 {
  padding: 2rem;
}
.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(183, 243, 186);
  box-shadow: 0 0 10px #719ece;
}
input:focus {
  outline: none !important;
  border-color: rgb(59, 168, 64);
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(183, 243, 186);
  color: rgb(65, 51, 51);
  cursor: pointer;
  box-shadow: 0 0 10px #719ece;
}

.search-form button:focus {
  outline: none !important;
  border-color: rgb(59, 168, 64);
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}
.gallery-info a {
  color: gray;
  text-decoration: none;
  text-transform: lowercase;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  outline: none !important;
}

.more {
  padding: 1rem 3rem;
  color: rgb(65, 51, 51);
  background: rgb(183, 243, 186);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none !important;
  border-color: rgb(59, 168, 64);
  box-shadow: 0 0 10px #719ece;
}

/* Dark Theme */

body.dark {
  background: #292c35;
  #logo,
  .gallery-info a,
  p {
    color: white;
  }
}
