* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eee0e0 2f2;
  margin: 0;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.colorMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 2rem 2rem 0rem 0rem;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

body {
  font-family: 'Comic Neue', cursive;
}

body p {
  text-transform: lowercase;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  text-decoration: none;
  color: gray;
}

header h2 {
  padding: 2rem;
}

.search-form {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #b7f3ba;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
}

input:focus {
  outline: none !important;
  border-color: #3ba840;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: #b7f3ba;
  color: #413333;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
}

.search-form button:focus {
  outline: none !important;
  border-color: #3ba840;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: gray;
  text-decoration: none;
  text-transform: lowercase;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.gallery-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:focus {
  outline: none !important;
}

.more {
  padding: 1rem 3rem;
  color: #413333;
  background: #b7f3ba;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none !important;
  border-color: #3ba840;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
}

/* Dark Theme */
body.dark {
  background: #292c35;
}

body.dark #logo,
body.dark .gallery-info a,
body.dark p {
  color: white;
}
/*# sourceMappingURL=main.css.map */